@font-face {
    font-family: myFont;
    src: url(Fedra-Sans-Pro.ttf);
}

body {
    font-family: myFont;
    background-color: #f0f0f0;
}

.container {
    margin: 5px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
    margin-top: 2px;
}


@media only screen and (max-width: 600px) {
    .person-block {
        flex-direction: column;
        justify-content: normal;
    }

    .person-block img {
        width: 100%;
        height: auto;
    }

    .text-block {
        margin-top: 20px;
    }
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s;
}

a:hover {
    color: #ff0000
}

a:active {
    color: #00ff00
}

a:after {
    /*content: "";*/
    display: block;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.2s;
}
